.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  body {
    background-color: lightblue;
    text-align: center;
    margin-top: 20px;
  }
  
  main {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    border-radius: 25px;
  }
  
  h1 {
    text-align: center;
    color: cornflowerblue;
    text-shadow: 2px 5px 2px rgb(161, 161, 161);
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  
  #picture-option {
    max-width: 50%;
    max-height: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  nav {
    background-color: cornflowerblue;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 25px;
  }
  
  nav a {
    color: white;
    font-size: 1.5em;
  }
  
  nav a:hover {
    color: pink;
    text-decoration: none;
  }
  
  img {
    max-width: 300px;
    border-radius: 25px;
  }
  
  #views {
    margin-left: auto;
    margin-right: auto;
  }
  
  button {
    margin-bottom: 25px;
  }